<div class="header scroll">
  <div class="topbar d-none d-lg-block">
    <a class="bannertop text-center" href="/black-friday">banner blackfriday des</a>
  </div>
  <div class="topbar d-block d-lg-none login_none">

    <a class="bannertop text-center" href="/black-friday"> banner blackfriday mb </a>
  </div>

  <div class="wrap-container d-none d-lg-block">
    <div class="container container-mb">
      <div class="topbar-wrap">
        <div class="topbar-top">
          <div class="topbar-top__left">
            <div class="logo">
              <a href="/">
                <img src="{{this.linkLogo}}">
              </a>
            </div>
            <div class="theme-search-smart">
              <div class="header_search theme-searchs">

              </div>
            </div>
          </div>
          <div class="topbar-top__right">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


